html{
  cursor: crosshair;
}
body{
  background: radial-gradient(circle at top,#1b2a6b,#000 70%);;
  font-family: Verdana, Courier New, Arial;
  font-size: clamp(2rem,3vw,8rem);
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body::before{
  content: "";
  position: fixed;
  inset:0;
  pointer-events: none;
  z-index:200;
  background: radial-gradient(50px circle at var(--x) var(--y), rgba(255,255,255,0.25),transparent);
}
.info-nav ul{
  display:flex;
  flex-direction:column;
  justify-content: left;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin:0;
}
.info-nav a{
  display: block;
  padding: 12px 20px;
  border-radius: 999px;
  text-decoration: none;
  color: beige;
  font-weight: 600;
  transform: perspective(700px) rotateX(0deg) rotateY(0deg);
  transition: transform 220ms ease, box-shadow 220ms ease;
}
.info-nav a:hover,.info a:active{
  transform: perspective(700px) rotateX(3deg) rotateY(-6deg) translateY(-6px);
  box-shadow: 0 20px 42px rgba(15,23,42,0.12);
  background: linear-gradient(240deg,black,midnightblue);
  color: gold;
}
.btn {
  transform: perspective(700px) rotateX(0deg) rotateY(0deg);
  transition: transform 220ms ease, box-shadow 220ms ease;
  background: midnightblue;
  border-radius:999px;
  align-items:center;
  font-size: clamp(2rem,5vw,8rem);
}
.btn:hover{
  transform: perspective(700px) rotateX(3deg) rotateY(-6deg) translateY(-6px);
  box-shadow: 0 20px 42px rgba(15,23,42,0.12);
  background: linear-gradient(240deg,black,midnightblue);
  color: gold;
}
